<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.0</key>
    <string>A_.0.glif</string>
    <key>A.1</key>
    <string>A_.1.glif</string>
    <key>A.2</key>
    <string>A_.2.glif</string>
    <key>A.3</key>
    <string>A_.3.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.0</key>
    <string>B_.0.glif</string>
    <key>B.1</key>
    <string>B_.1.glif</string>
    <key>B.2</key>
    <string>B_.2.glif</string>
    <key>B.3</key>
    <string>B_.3.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.0</key>
    <string>C_.0.glif</string>
    <key>C.1</key>
    <string>C_.1.glif</string>
    <key>C.2</key>
    <string>C_.2.glif</string>
    <key>C.3</key>
    <string>C_.3.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.0</key>
    <string>D_.0.glif</string>
    <key>D.1</key>
    <string>D_.1.glif</string>
    <key>D.2</key>
    <string>D_.2.glif</string>
    <key>D.3</key>
    <string>D_.3.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.0</key>
    <string>E_.0.glif</string>
    <key>E.1</key>
    <string>E_.1.glif</string>
    <key>E.2</key>
    <string>E_.2.glif</string>
    <key>E.3</key>
    <string>E_.3.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F.0</key>
    <string>F_.0.glif</string>
    <key>F.1</key>
    <string>F_.1.glif</string>
    <key>F.2</key>
    <string>F_.2.glif</string>
    <key>F.3</key>
    <string>F_.3.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>space</key>
    <string>space.glif</string>
  </dict>
</plist>
